<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        {{ if collection_handle == 'blog' }}
        <title>{{ seo_title ?? title }} | {{ site_data:seo_title }}</title>
        <meta
            name="description"
            content="{{ seo_description ?? excerpt ?? content | striptags | truncate:160 }}"
        />
        <link rel="canonical" href="{{ current_url }}" />

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ site_data:favicon:url }}"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ current_url }}" />
        <meta property="og:title" content="{{ seo_title ?? title }}" />
        <meta
            property="og:description"
            content="{{ seo_description ?? excerpt ?? content | striptags | truncate:160 }}"
        />
        <meta
            property="og:image"
            content="{{ seo_og_image:url ?? site_data:seo_og_image }}"
        />
        <meta
            property="article:published_time"
            content="{{ date format='c' }}"
        />
        <meta
            property="article:modified_time"
            content="{{ last_modified format='c' format='c' }}"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="{{ current_url }}" />
        <meta property="twitter:title" content="{{ seo_title ?? title }}" />
        <meta
            property="twitter:description"
            content="{{ seo_description ?? excerpt ?? content | striptags | truncate:160 }}"
        />
        <meta
            property="twitter:image"
            content="{{ seo_og_image:url ?? site_data:seo_og_image }}"
        />
        <meta property="twitter:site" content="{{ site_data:twitter_site }}" />
        {{ else }}
        <title>
            {{ seo_title ?? title ?? site_data:seo_title }} {{ item_type:title
            ?? '' }}
        </title>
        <meta
            name="description"
            content="{{ seo_description ?? blurb | strip_tags ?? site_data:seo_description }}"
        />
        <link rel="canonical" href="{{ current_url ?? site_data:canonical }}" />

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ site_data:favicon:url }}"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ current_url }}" />
        <meta
            property="og:title"
            content="{{ seo_title ?? title ?? site_data:seo_title }} {{ item_type:title ?? '' }}"
        />
        <meta
            property="og:description"
            content="{{ seo_description ?? blurb | strip_tags ?? site_data:seo_description }}"
        />
        <meta
            property="og:image"
            content="{{ seo_og_image ?? cover_image:url ?? site_data:seo_og_image }}"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="{{ current_url }}" />
        <meta
            property="twitter:title"
            content="{{ seo_title ?? title ?? site_data:seo_title }} {{ item_type:title ?? '' }}"
        />
        <meta
            property="twitter:description"
            content="{{ seo_description ?? blurb | strip_tags ?? site_data:seo_description }}"
        />
        <meta
            property="twitter:image"
            content="{{ seo_og_image ?? cover_image:url ?? site_data:seo_og_image }}"
        />
        <meta property="twitter:site" content="{{ site_data:twitter_site }}" />
        {{ /if }}
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Inter:opsz,wght@14..32,100..900&family=Urbanist:wght@100..900&display=swap"
            rel="stylesheet"
        />

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>

        {{ vite src="resources/js/site.js|resources/css/site.css" }}

        <!-- Fathom - beautiful, simple website analytics -->
        <script
            src="https://cdn.usefathom.com/script.js"
            data-site=""
            defer
        ></script>
        <!-- / Fathom -->
    </head>
    <body>
        {{ partial:header }}
        <div class="">{{ template_content }}</div>
        {{ partial:footer }}
    </body>
</html>
